@import url('https://fonts.googleapis.com/css?family=Overpass:700,800');

$purple:	#5772FF; 
$pink: 		#B385FF;
$teal:		#0FF8A8;
$black: 	#0B1D38;

$primary: 	$purple;
$secondary: $pink;
$info:		$teal;

$font-family-sans-serif: "Avenir", "Avenir Next";
$headings-font-family: "Overpass";
$headings-font-weight: 800;
$font-size-base: 1.05rem;
$headings-color: $purple;
$display1-weight: 800;

$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: white;

$jumbotron-bg: tranparent;
$border-radius-lg: 2rem;
$btn-font-weight: 600;

//Needed
@import "vendor/bootstrap/scss/functions";
@import "vendor/bootstrap/scss/variables";
@import "vendor/bootstrap/scss/mixins";
@import "vendor/bootstrap/scss/root";
@import "vendor/bootstrap/scss/reboot";

@import "vendor/bootstrap/scss/type";
@import "vendor/bootstrap/scss/grid";
@import "vendor/bootstrap/scss/nav";
@import "vendor/bootstrap/scss/navbar";
@import "vendor/bootstrap/scss/utilities";
@import "vendor/bootstrap/scss/jumbotron";
@import "vendor/bootstrap/scss/buttons";
@import "vendor/bootstrap/scss/button-group";

.nav-link {
	font-family: $headings-font-family;
	font-weight: 700;
}

p {
	white-space: pre-line;
}

.btn-secondary {
	color: $white;
}

header {
  padding: 154px 0 100px;
  .jumbotron {
  	background-color:transparent;
  	.lead {
  		font-weight: 500;
  	}
  }
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}