@import url('https://fonts.googleapis.com/css?family=Overpass:500,900');

$blue:		#5772FF; 
$purple:	#B385FF;
$teal:		#0FF8A8;
$yellow:	#FFC700;
$black:		#0B1D38;
$red:		#FF5C38;

$primary: 	$blue;
$secondary: $purple;
$success:   $teal;
$info:		$teal;
$danger:    $red;
$warning:   $yellow;

$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 960px,
  lg: 961px,
  xl: 1201px
) !default;

$font-family-sans-serif: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: "Overpass", $font-family-sans-serif;

$spacer: 30px;
$btn-font-weight: bold;
$navbar-padding-x: $spacer*1.5;
$navbar-nav-link-padding-x: $spacer;
$btn-padding-x: $spacer;
$btn-padding-y: $spacer/2;
$btn-border-radius: 360px;
$custom-control-gutter: 20rem;
$headings-color: $primary;
$modal-content-border-radius: 0;
$modal-backdrop-bg: $success;
$modal-content-border-width: 0;
$navbar-toggler-border-radius: 5px;
$navbar-dark-toggler-border-color: white;
$navbar-dark-color: white;

//Needed
@import "vendor/bootstrap/scss/functions";
@import "vendor/bootstrap/scss/variables";
@import "vendor/bootstrap/scss/mixins";
@import "vendor/bootstrap/scss/root";
@import "vendor/bootstrap/scss/reboot";

@import "vendor/bootstrap/scss/type";
@import "vendor/bootstrap/scss/grid";
@import "vendor/bootstrap/scss/nav";
@import "vendor/bootstrap/scss/navbar";
@import "vendor/bootstrap/scss/utilities";
@import "vendor/bootstrap/scss/jumbotron";
@import "vendor/bootstrap/scss/buttons";
@import "vendor/bootstrap/scss/button-group";
@import "vendor/bootstrap/scss/transitions";
@import "vendor/bootstrap/scss/carousel";
@import "vendor/bootstrap/scss/modal";


#scroll {
	-webkit-animation: action 0.5s infinite alternate;
	animation: action 0.5s infinite alternate;
}
@-webkit-keyframes action {
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}
@keyframes action {
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}

#scroll:hover {
	cursor: pointer;
}

html, body {
	max-width: 100%;
    overflow-x: hidden;
}

html { 
	zoom: 90%;
	zoom: 0.9;
} // this is terrible

body {
	color: $black;
	position: relative;
}

#line svg {
	opacity: 0.5;
	left:0;
	top: 10%;
	width: 120%;
	left: -10%;
	height: 82% !important;
	position: absolute;
	z-index: -3;
}

#fellowship-schedule-table {
    font-size: 20px;
    td {
        padding-right: 30px;
        padding-bottom: 10px;
    }
    td:first-of-type {
        font-weight: bolder;
    }
}

a {
	transition: color 0.2s;
}

a:hover {
	color: $success;
	text-decoration: none;
	cursor: pointer;
}

h1 {
	font-size: 80px;
	@include media-breakpoint-down(xs) {
		font-size: 15vw;
	}
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 35px;
}

p, .lead {
	font-size: 20px;
}

@include media-breakpoint-down(lg) {
	.ill {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@include media-breakpoint-down(md) {
	nav .nav-link {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.btn {
	border: none;
	color: white;
	a {
		color: white;
	}
}

.btn:focus {
	border: none;
}

.btn:hover {
	color: white;
	background-color: $success;
}

nav {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-weight: 500;
	.nav-item:not(.active) {
		.nav-link {
			transition: color 0.2s;
			color: rgba($white, .7) !important;
		}
		.nav-link:hover {
			color: white !important;
		}
	}
	
	.navbar-brand img {
		height: 50px;
		padding:0;
		margin:0;
	}
}

section {
	padding: 150px 0;
}

.sponsors img {
	padding: 25px 0;
	width: 150px;
}

header {
	min-height: 130vh;
	position: relative;
}

footer {
	text-align: center;
	color: white;
	.content {
		background-color: $primary;
		padding-bottom: 100px;
	}
	a {
		color: $success;
	}
	img {
		margin-bottom: -2px;
		height: 300px;
		width: 100%;
	}
}

.blob {
	opacity: 0.7;
}

.modal-backdrop {
	z-index: 0;
	width: 100%;
	height: 100%;
}

.modal {
	width: 100%;
	.close span {
		font-size: 3em;
		padding: 0 20px;
		font-weight: 100;
	}
	img {
		width: 100%;
	}
	.modal-header {
		border: none;
	}
}

.team-modal {
	img {
		width: 100%;
	}
	h3 {
		transition: color 0.2s;
		margin:0;
	}
	h3:hover {
		color: $success !important;
	}
}

.carouselSliding {
	width: 100%;
	.carousel-inner {
		.carousel-item.active,
		.carousel-item-next,
		.carousel-item-prev {
			display: flex;
		}
		.img-circle {
			width: 100%;
			border-radius: 360px;
		}
	}
	.carousel-control-prev, .carousel-control-next {
		opacity: 1;
	}

	.carousel-control-prev-icon {
		margin-left: -50px;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		font-size: 50px;
		color: $danger;
		font-weight: bold;
		margin-bottom: 150px;
	}
}

.panel-toggle {
	font-size: 30px;
	max-width: 100%;
	white-space: normal;
}

.panel-toggle svg {
	margin-top: -5px;
	transition: 0.2s;
}
.panel-toggle[aria-expanded="true"] svg {
	transform: rotate(90deg);
}

.btn:focus {outline:0 !important;}


#mc_embed_signup {
	#mc_embed_signup_scroll {
		.mc-field-group, .clear {
			display: inline;
		}
		.clear input {
			height: $spacer*2+4;
			width: 210px;
			margin-bottom: 1px;
		}
		.mc-field-group input {
			border-radius: $btn-border-radius;
			width: 90%;
			max-width: 620px;
			padding: $spacer;
			margin-right: -210px;
			height: $spacer*2;	
			border-style: solid;
			border-color: $primary;
		}
		.mc-field-group input:focus {
			outline-width: 0;
		}
	}
}

/* THIS CSS IS TEMPORARY. TO BE REMOVED FOLLOWING VIRTUAL SUMMIT 2020 */
.virtual-summit {
	background: #F1F3FF;
	border: 5px solid $blue;
	border-radius: 20px;
	padding: 0;
	max-width: 1200px;

	$mobile-breakpoint: 580px;

	hgroup {
		margin: -2px;
		width: calc(100% + 4px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
		background: $blue;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		@media(max-width: $mobile-breakpoint) {
			padding: 20px;
			h2 {
				font-size: 24px;
			}
		}

		h2, h3 {
			color: white;
			margin: 0;
		}
		.live-icon {
			@media(max-width: $mobile-breakpoint) {
				display: none;
			}
			background: $yellow;
			display: flex;
			align-items: baseline;
			padding: 15px 20px;
			border-radius: 10px;
			margin-left: 30px;
			&:after {
				content: '';
				margin-left: 25px;
				width: 25px;
				height: 25px;
				border-radius: 100%;
				background: white;
			}
		}
	}

	article {
		display: flex;
		flex-direction: column;
		color: $black;
		padding: 30px;
		font-size: 20px;

		@media(min-width: $mobile-breakpoint) {
			flex-direction: row;
			justify-content: space-between;
		}

		.video-container {
			margin-bottom: 40px;
			@media(min-width: $mobile-breakpoint) {
				margin-right: 60px;
				margin-bottom: 0;
			}
			flex: 1;
			iframe {
				max-width: 100%;
			}
			.video-subtext {
				display: flex;
				img {
					width: 120px;
					height: 120px;
					margin-right: 40px;
					transform: rotate(-41deg);
					margin-top: -30px;
				}
				p {
					color: $blue;
					font-weight: bold;
					margin-top: 20px;
				}
			}
		}

		.text-container {
			flex: 1;
			h3 {
				color: $black;
			}
		}
	}

	.career-expo {
		margin-top: 60px;
		padding: 0 20px;

		h3 {
			color: $black;
			text-align: center;
			margin-bottom: 20px;
		}
		.company-card-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
	
			.company-card {
				flex-direction: column;
				padding: 20px;
				padding-bottom: 0;
				margin: 30px;
				background: white;
				border-radius: 10px;
	
				img {
					width: 170px;
					height: 170px;
					object-fit: contain;
					border-radius: 5px;
				}
	
				a {
					display: block;
					padding: 15px;
					font-size: 20px !important;
					color: $yellow;
					font-weight: bold;
					text-align: center;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.carouselSliding {
		padding: 0 50px;
		.carousel-inner {
			.carousel-item-right.active,
			.carousel-item-next {
				transform: translateX(33.333333333%);
			}

			.carousel-item-left.active,
			.carousel-item-prev {
				transform: translateX(-33.333333333%);
			}

			.carousel-item-right,
			.carousel-item-left {
				transform: translateX(0);
			}

			.card {
				img {
					width: 80% !important;
				}
				.card-body {
					p b {
						font-size: 28px;
					}
					
				}
			}
		}
		
		.carousel-control-prev-icon {
			margin-right: 100px;
		}

		.carousel-control-next-icon {
			margin-left: 100px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.carouselSliding {
		padding: 0 200px;

	.carousel-control-prev-icon {
		margin-right: -100px;
	}
	.carousel-control-next-icon {
		margin-left: -100px;
	}
	}
}

@include media-breakpoint-up(md) {
	#special-case {
		margin-top: 125%; // this is terrible
	}
}