<footer>
    <img alt="Footer" src="/assets/images/accents/footer.svg" />
    <div class="content">
        <p>
            Questions, Comments, Concerns?
            <br/>
            Reach out to <a target="_blank" href="mailto:hello@impactlabs.io">hello@impactlabs.io</a>
        </p>
        <p>
            Move purposefully and fix things.
        </p>
        <p>
            Copyright &copy; Impact Labs 2022. <a target="_blank" href="https://docs.google.com/document/d/11rG_I1-jbV9INWTXWyhvDNLHPxTPtrBW7ZMhqVfc2b8/edit">Code of Conduct</a>
        </p>
    </div>
</footer>
