<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top" id="mainNav">
   <div class="container-fluid">
      <a class="navbar-brand" href="../">
         <img alt="Impact Logo" src="/assets/images/icons/impact_labs_white.svg"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
            {% for item in site.data.nav %}
               <li class="nav-item {% if item.url == page.url %}active{% endif %} mt-1 ml-1">
                  <a class="nav-link" href="{{ item.url }}"
                     {% if item.target %} target="_blank" {% endif %}
                  >
                     {{ item.title }}
                  </a>
                  {% if item.subpages %}
                  <ul style="display: none">
                  {% for subpage in item.subpages %}
                  <li class="nav-item subpage mt-1 ml-1">
                        <a class="nav-link" href="{{ subpage.url }}"
                           {% if item.target %} target="_blank" {% endif %}
                        >
                        {{ subpage.title }}
                        </a>
                  </li>
                  {% endfor %}
                  </ul>
                  {% endif %}
               </li>
            {% endfor %}
            <li class="nav-item">
               <a class="btn btn-warning" role="button" aria-pressed="true" zeffy-form-link="https://www.zeffy.com/en-US/embed/donation-form/228a7f22-7ff6-42b1-9a2a-4e96f5b29ae6?modal=true">Donate</a>
            </li>
         </ul>
      </div>
   </div>
</nav>