---
title: Impact Labs - About Us
permalink: /about
image: /assets/images/seo/team.jpg
---


<section data-aos="fade-up" class="pt-5" style="background: linear-gradient(rgba(15, 248, 166, 0.5), #FFFFFF)">
	<div class="container-fluid row mx-0 my-5">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">
			<h1>Our Story</h1>
			<p class="pb-3">Founded in 2017, Impact Labs started in a Brown University dorm room with two bright-eyed visionaries frustrated by the fact that talented computer science students wanted to use their skills to make meaningful social impact, yet they often ended up flocking to Silicon Valley giants post-graduation. 
				</p>
			<p class="pb-3">Impact Labs was born to empower individuals to find purposeful, fulfilling technology careers in social impact. Since our inception, we have hosted hundreds of attendees across our 5 in-person and virtual Impact Summits, 150 fellows as part of our four Impact Fellowships, and built up a network of ~5,000 technologists, partners, and sponsors. 
				</p>
		</div>
	</div>
</section>


<section class="px-sm-5">
		
		<div class="container-fluid mx-0 my-0" >
			<div class="row mb-4 d-none d-md-flex">
				<div class="col-0 col-md-2"></div>
				<h1 class="pb-3">Our Core Values</h1>
			</div>
			<div class="row d-none d-md-flex">
				<div class="col-4 text-center">
					<img alt="Intentionality" src="/assets/images/illustrations/what_is_impact_labs.svg" class="img-fluid px-5"/>
				</div>
				<div class="col-4 text-center">
					<img alt="Empathy" src="/assets/images/illustrations/community.svg" class="img-fluid px-3"/>
				</div>
				<div class="col-4 text-center">
					<img alt="Dreaming Big" src="/assets/images/illustrations/the_summit.svg" class="img-fluid px-5"/>
				</div>
			</div>
			<div class="row">
				<img alt="Intentionality" class="my-4 ml-3 text-left d-md-none" src="/assets/images/icons/impact_fellowship.svg" class="img-fluid"/>
				<div class="col-12 col-md-4 text-center px-md-4 mb-5 mb-md-0">
					<div class="text-left lead">
						<h2>Intentionality</h2>
						<p class="lead text-left">
								We value intentionality and thoughtfulness in everything we do. Social impact is multifaceted and complex, and we strive to understand its nuances, respect its different forms, and recognize the structural challenges in place that make progress nonlinear. 
						</p>
					</div>
				</div>
				<img alt="Empathy" class="my-4 ml-3 d-md-none" src="/assets/images/icons/impact_summit.svg" class="img-fluid"/>
				<div class="col-12 col-md-4 text-center px-md-4 mb-5 mb-md-0">
					<div class="text-left lead">
						<h2>Empathy</h2>
						<p>
								We are empathetic visionaries! We think caring a lot is cool. We aim to think beyond ourselves and consider the world’s most pressing problems, and how we can leverage technology to make a difference. The first step is being empathetic and open-minded to the problems of this world. The second? Believing you can do something about them. 
						</p>
					</div>
				</div>
				<img alt="Dreaming Big" class="my-4 ml-3 d-md-none" src="/assets/images/icons/coalition.svg" class="img-fluid"/>
				<div class="col-12 col-md-4 text-center px-md-4 mb-5 mb-md-0">
					<div class="text-left">
						<h2>Dreaming Big</h2>
						<p>
							We love to dream beyond conventional norms. Our hope is to open the doors of possibility for young change-makers who are eager to leverage their skillsets in meaningful careers that match their interests and values. Building platforms for high-risk refugee populations. Developing software solutions to improve voter turnout. Engineering new solar panel distribution systems. The possibilities are endless!
						</p>
					</div>
				</div>
			</div>
		</section>


<section data-aos="fade-up" class="pb-0 mt-md-5 mt-0" style="position: relative;">

	<img alt="Bolt" class="accent d-none d-md-inline" style="width:100px; position:absolute; right: 340px; top: 0px;" src="/assets/images/accents/bolt.svg" />
	<img alt="Plus" class="accent d-none d-md-inline" style="width:130px; position:absolute; bottom: 180px; left: 0px;" src="/assets/images/accents/plus.svg" />	
	<div class="container-fluid row mx-0">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">

			<h1 class="text-primary">Meet the Team!</h1>
			<p>Impact Labs is led by a team of quirky engineers, humble idealists, passionate designers and bright-eyed philosophers!
			</p>
			<div class="row pb-5" id="team-members">
				{% for member in site.data.team_members %}
					<a class="team-modal col-12 col-sm-6 col-md-4 text-center px-4 mb-5" data-toggle="modal" data-target="#modal-popup" name="{{member.name}}" body="{{member.body}}" image="/assets/images/teamphotos/{{member.image}}" >
						<div>
							<div class="team-image-filter">
								<img src="/assets/images/teamphotos/{{member.image}}" alt="{{member.name}}" />
							</div>
							<h3 class="text-dark mt-3">{{member.name}}</h3>
							<h4 class="text-dark mt-2">{{member.title}}</h4>
						</div>
					</a>
				{% endfor %}
			</div>
			<h2 style="max-width:80%">Thanks to Our Volunteers!</h2>
			<p>Volunteers at Impact Labs help with everything from program design to speaker outreach to web development -- we couldn't have gotten to where we are without these folks! 
			</p>
			<div class="row pb-5" id="past-members">
				{% for member in site.data.past_members %}
					<a class="team-modal col-12 col-sm-6 col-md-4 text-center px-2 mb-3" data-toggle="modal" data-target="#modal-popup" name="{{member.name}}" body="{{member.body}}" image="/assets/images/teamphotos/{{member.image}}" >
						<div>
							<h3 class="text-dark mt-1">{{member.name}}</h3>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-0 col-md-2"></div>
	</div>
</section>

<div class="p-5">
	<!-- Modal Content -->
	<div class="modal fade" id="modal-popup" role="dialog" aria-hidden="true">
		<div class="modal-dialog full-modal">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<a class="close" data-dismiss="modal" aria-hidden="true">
								<span aria-hidden="true">&times;</span>
							</a>
						</div>
						<div class="modal-body">
							<div class="row bio-row">
								<div class="col-12 col-md-4 text-center">
									<div class="team-image-filter mb-5">
										<img alt="Team Member Photo" class="bio-img" />
									</div>
								</div>
								<div class="col-12 col-md-8 pl-md-5 pb-5">
									<h3 class="bio-name"></h3>
									<p class="font-italic"></p>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section data-aos="fade-up" class="pb-0 mt-0" style="position:relative">

	<img alt="Bolt" class="accent d-none d-md-inline" style="width:100px; position:absolute; right: 340px; top: 0px;" src="/assets/images/accents/bolt.svg" />
	<img alt="Plus" class="accent d-none d-md-inline" style="width:130px; position:absolute; bottom: 180px; left: 0px;" src="/assets/images/accents/plus.svg" />	
	<div class="container-fluid row mx-0 my-0">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">
			<h1>Our Funders</h1>
			<p class="pb-3">Impact Labs is supported by a mix of unrestricted funding grants and project-specific funding through contracts and grants, as well as revenue from our programming. We are grateful to all of our donors, funders, and partners -- we couldn't do our work without them!
			</p>
			<div class="row pb-5" id="team-members">
				{% for funder in site.data.funders %}
					<a class="team-modal col-12 col-sm-6 col-md-4 text-center justify-content-center px-4 mb-5">
						<div>
							<div>
								<img src="assets/images/sponsors/{{funder.image}}" alt="{{funder.name}}" />
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
			<div class="mb-5 pb-5">
				<h2 style="max-width:80%">Interested in joining the Impact Labs team? We want to hear from you!</h2><br/>
				<a class="btn btn-secondary" role="button" aria-pressed="true" target="_blank" href="https://airtable.com/shrkcs1sY3lP30ZvD ">Tell us about yourself</a>
			</div>
		</div>
	</div>
</section>