---
title: Impact Labs - Summit
permalink: /summit
image: /assets/images/seo/summit.jpg
---

<header data-aos="fade-up" style="background: linear-gradient(rgba(15, 248, 166, 0.5), #FFFFFF)">
	<div class="container-fluid">
		<div class="row" style="padding-top:30vh">
			<div class="col-1 col-md-6">
				<img alt="Impact Summit" width="100%" style="margin-top:-30%; margin-left:-5%" class="d-none d-md-inline" src="/assets/images/pics/summit_header.png" />
			</div>
			<div class="col-10 col-md-4 lead">
				<h1 class="text-primary">The Impact Summit</h1>
				<p>
					A gathering of talented and passionate students and early-career technologists from around the world to connect with one another, hear from expert speakers, learn new skills, and discover exciting opportunities.
				</p>
				<p>
					The fourth annual Impact Summit will be held virtually August 12-14, 2021. All are invited to <a href="/register" target="_blank" rel="noreferrer">register</a> and the event is completely free!
				</p>
				<a class="btn btn-warning mt-3" href="/register" target="_blank" role="button" aria-pressed="true">Register</a>
			</div>
		</div>
		<div class="col-1 col-md-2"></div>
	</div>
</header>

<section class="mt-0 pt-md-5" style="position: relative">
	<div class="container">
		<div class="mb-5 row">
			<div class="col-12 lead">
				<h2>Schedule</h2>
				<p>Things change! You can find the most up-to-date information right here.</p>
				{% for day in site.data.summit_2021_sessions %}
					<br/>
					<h3>{{ day.dateline }}</h3>
					{% for session in day.sessions %}
						<div class="summit-session-block">
							<b style="flex-basis: 350px; font-weight: 600;">{{ session.time }}</b>
							<div class="col" style="padding: 0 0 15px;">
								<h4>{{ session.title }}</h4>
								<p>{{ session.description }}</p>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section>
	<img alt="Plus" class="accent d-none d-md-inline" style="width: 150px; position:relative; float: right; right: 100px; top: -200px" src="/assets/images/accents/plus.svg" />
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 text-center">
			<img alt="Impact Summit" width="300px" class="ill mt-4 mb-4 mb-lg-0" src="/assets/images/illustrations/the_summit.svg" />
			</div>
			<div class="col-12 col-lg-8 lead">
				<h2 style="max-width:80%">About the Summit</h2>
				<p>
					The Impact Summit unites young people who are passionate about technology and social good, while connecting them with entrepreneurs, civic activists, and thought leaders who are leveraging technology for social impact.
				</p>
				<p>
					​In addition to creating a strong community of students and professionals passionate about technology and social good, the summit provides an opportunity for students to find meaningful career opportunities and ignite the ideas that will create a more equitable, sustainable world!
				</p>
			</div>
		</div>
	</div>
</section>

<section class="pb-md-5 pb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-12 mt-md-5 pt-md-5 lead">
				<h2>Our mission</h2>
				<p>
					Our mission is to bring together the most eager and optimistic minds to authentically form long-lasting relationships, learn together about the challenges we face, and ultimately work with one another to build a more just world.​
				</p>
				<p>
					We invite all who are compelled by that vision. This can mean computer science students who want to use their skills for social good; young entrepreneurs who hope to start companies that solve big, sticky problems; and passionate activists, policy makers, and philosophers fighting for a more humane technological society.
				</p>
				<p>
					Anyone who thinks critically about the challenges we’re facing in the 21st century and has the guts to do something about them is encouraged to attend!
				</p>
			</div>
			<div class="col-md-4 col-12 pt-5 text-center">
				<img alt="FAQ" style="max-width:350px" src="/assets/images/illustrations/faq.svg" />
			</div>
		</div>
	</div>
</section>

<img alt="Audience listening to speaker at impact summit" class="img-fluid w-100" src="/assets/images/pics/summit_speakers.jpg">

<section class="pt-4" style="position: relative">
	<div class="container">
		<img alt="" class="blob d-none d-md-inline" style="position:absolute; width:80%; right: 30%; top: 50px; z-index: -1;" src="/assets/images/accents/blob-dotted.svg" />
		<div class="row lead">
			<div class="col-lg-10 col-12">
			<br/>
			<h2>Find Your Dream Job</h2>
				<p>
					Our mission is to demystify the path to a career in tech for social good by providing meaningful, accessible, actionable opportunities in the space.
				</p>
				<p>
					To that end, we host career expo that showcases the top companies that are doing well by doing good, all looking for new team members!
				</p>
			</div>
			<div class="col-lg-2 col-12"></div>
			</div>
		</div>
	</div>
</section>


<section class="pt-0" style="position: relative">
	<div class="container">
		<img alt="Plus" class="accent d-none d-md-inline" style="width: 150px; position: absolute; float: right; right: 100px; top: -200px" src="/assets/images/accents/plus.svg" />
		<div class="row">
			<div class="col-md-4 col-12 pb-4 text-center">
				<img alt="Community" width="300px" src="/assets/images/illustrations/community.svg"/>
			</div>
			<div class="col-md-8 col-12 mt-md-5 lead">
				<h2>Connect with Each Other</h2>
				<p>
					We reserve lots of time for group discussions and more relaxed time to hang with one another!
				</p>
			</div>
		</div>
	</div>
</section>

<img alt="Impact Summit 2019 attendees smiling and getting goofy" class="img-fluid w-100" src="/assets/images/pics/summit_group_photo.jpg">

<section class="pt-4">
	<div class="container">
		<div class="text-center mb-5">
			<h2 class="panel-toggle btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40 20L0 0V40L40 20Z" fill="#ffffff"/> </svg>
				&nbsp;&nbsp;Impact Summit FAQs</h2>
		</div>
		<div class="collapse" id="collapseExample">
			<div class="row card card-body">
			<div class="col-12 col-md-6 pr-md-4">
				<h4>Why should I participate?</h4>
				<p>
					So many reasons! We're building a community of ambitious, like-minded students who have the chance to connect with social entrepreneurs, mentors, career opportunities, and capital. We want you to leave the conference feeling like you took one giant step closer to your future at the intersection of tech and social good. Maybe that's because you won some prize money for a venture you've already been working on. Or maybe it's because you found your next internship. Or maybe it's because you made a best friend for the summer. Whatever it is, we want to be a part of making that possible!
				</p>
				<br/>
				<h4>What can I expect?</h4>
				<p>
					Lots of learning, lots of laughter, and lots of kind people; really interesting conversations on life, the universe, and everything; a dope virtual career fair with some awesome high-impact companies; great talks from super cool people (including your peers)!
				</p>
				<br/>
			</div>
			<div class="col-12 col-md-6 pl-md-4">
				<h4>Who can attend?</h4>
				<p>
					Anyone who thinks critically about the challenges we’re facing in the 21st century and has the guts to do something about them! You can sign up <a target="_blank" href="https://airtable.com/shrqocTttEp25xvtu">here</a>.
				</p>
				<br/>
				<h4>Who has spoken at previous Impact Summits?</h4>
				<p>
					So glad you asked! See our <a target="_blank"
						href="https://docs.wixstatic.com/ugd/7e8899_3d1cebd4c8f149f7b1aa54958e8b373b.pdf">2018 programming
						packet</a> along with our 2019 packets from <a target="_blank"
						href="https://drive.google.com/open?id=1o6LrE__LvWp2udXMoy5SpcX54b_igS9a">Opening Day</a> and <a
						target="_blank" href="https://drive.google.com/open?id=1yiO-HcIWlUsRiD4YFFXf23OU_DJE5Nx6">Closing
						Day</a>, and our <a href="/impacket" target="_blank">packet from 2020</a> for a complete list of all past speakers.
				</p>
				<br/>
				<h4>When and where will the 2021 Impact Summit be taking place?</h4>
				<p>
					The summit will begin on August 12th and events will be held virtually. Details on how to join sessions will be sent out to all registered attendees.
				</p>
				<br/>
				<h4>Help! I’m still confused! Where can I ask more questions?</h4>
				<p>
					We’ve got you covered! Reach out to <a target="_blank" href="mailto:hello@impactlabs.io">hello@impactlabs.io</a> and we’ll respond as quickly as we can. :)
				</p>
			</div>
			</div>
		</div>
		</div>
	</div>
</section>