---
layout: compress
---
<!DOCTYPE html>
<html>
    <head>{% include head.html %}</head>
    <body>
        {% include nav.html %}
        <main>{{ content }}</main>
        {% include footer.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/assets/js/rotateaccents.js"></script>
    </body>
</html>